<a href="https://colab.research.google.com/github/YannickPezeu/Titanic-Competition/blob/main/Tensorflow_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.layers import Input
from sklearn.model_selection import train_test_split
from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import cross_val_score


#data = pd.read_csv("gs://titanic_yannick_pezeu/titanic/Preprocessed Data/train_preprocessed.csv")
data = pd.read_csv("gs://titanic_yannick_pezeu/titanic/Preprocessed Data/train_preprocessed_tensorflow.csv")

data["Cabin"].replace(np.nan, "0", inplace = True) 
data

,PassengerId,Survived,Pclass,Title,LastName,Sex,Age,SibSp,Parch,Fare,Cabin,CabinF,CabinA,CabinB,CabinC,CabinE,CabinD,Embarked
0,1,0,3,Mr,Braund,male,22,1,0,7.2500,0,0,0,0,0,0,0,S
1,2,1,1,Mrs,Cumings,female,38,1,0,71.2833,C85,0,0,0,1,0,0,C
2,3,1,3,Miss,Heikkinen,female,26,0,0,7.9250,0,0,0,0,0,0,0,S
3,4,1,1,Mrs,Futrelle,female,35,1,0,53.1000,C123,0,0,0,1,0,0,S
4,5,0,3,Mr,Allen,male,35,0,0,8.0500,0,0,0,0,0,0,0,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,Rev,Montvila,male,27,0,0,13.0000,0,0,0,0,0,0,0,S
887,888,1,1,Miss,Graham,female,19,0,0,30.0000,B42,0,0,1,0,0,0,S
888,889,0,3,Miss,Johnston,female,30,1,2,23.4500,0,0,0,0,0,0,0,S
889,890,1,1,Mr,Behr,male,26,0,0,30.0000,C148,0,0,0,1,0,0,C
890,891,0,3,Mr,Dooley,male,32,0,0,7.7500,0,0,0,0,0,0,0,Q

In [ ]:
data["Embarked"].replace(np.nan, "0", inplace = True)

# Prepare Dataset

In [ ]:
train, test = train_test_split(data, test_size=0.2)
train, val = train_test_split(train, test_size=0.2)
print(len(train), 'train examples')
print(len(val), 'validation examples')
print(len(test), 'test examples')

569 train examples
143 validation examples
179 test examples

In [ ]:
# A utility method to create a tf.data dataset from a Pandas Dataframe
def df_to_dataset(dataframe, shuffle=True, batch_size=32):
  dataframe = dataframe.copy()
  labels = dataframe.pop('Survived')
  ds = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels))
  if shuffle:
    ds = ds.shuffle(buffer_size=len(dataframe))
  ds = ds.batch(batch_size)
  return ds

In [ ]:
batch_size = 5 # A small batch sized is used for demonstration purposes
train_ds = df_to_dataset(train, batch_size=batch_size)
val_ds = df_to_dataset(val, shuffle=False, batch_size=batch_size)
test_ds = df_to_dataset(test, shuffle=False, batch_size=batch_size)

In [ ]:
for feature_batch, label_batch in train_ds.take(1):
  print('Every feature:', list(feature_batch.keys()))
  print('A batch of ages:', feature_batch['Age'])
  print('A batch of targets:', label_batch )

Every feature: ['PassengerId', 'Pclass', 'Title', 'LastName', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'CabinF', 'CabinA', 'CabinB', 'CabinC', 'CabinE', 'CabinD', 'Embarked']
A batch of ages: tf.Tensor([22 36 23 54 33], shape=(5,), dtype=int64)
A batch of targets: tf.Tensor([1 0 1 0 0], shape=(5,), dtype=int64)

In [ ]:
# We will use this batch to demonstrate several types of feature columns
example_batch = next(iter(train_ds))[0]

In [ ]:
# A utility method to create a feature column
# and to transform a batch of data
def demo(feature_column):
  feature_layer = layers.DenseFeatures(feature_column)
  print(feature_layer(example_batch).numpy())

In [ ]:
photo_count = feature_column.numeric_column('Age')
demo(photo_count)

[[32.]
 [30.]
 [23.]
 [30.]
 [41.]]

In [ ]:
age = feature_column.numeric_column('Age')
age_buckets = feature_column.bucketized_column(age, boundaries=[1, 20, 50])
demo(age_buckets)

[[0. 0. 1. 0.]
 [0. 0. 1. 0.]
 [0. 0. 1. 0.]
 [0. 0. 1. 0.]
 [0. 0. 1. 0.]]

In [ ]:
Cabine = feature_column.categorical_column_with_hash_bucket("Cabin", 1000)

Cabine = feature_column.indicator_column(Cabine)
demo(Cabine)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [ ]:
Sex = feature_column.categorical_column_with_vocabulary_list("Sex", ["male", "female"])

Sex = feature_column.indicator_column(Sex)
demo(Sex)

[[0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]]

In [ ]:
list(data["Pclass"].unique())

[3, 1, 2]

In [ ]:
data

,PassengerId,Survived,Pclass,Title,LastName,Sex,Age,SibSp,Parch,Fare,Cabin,CabinF,CabinA,CabinB,CabinC,CabinE,CabinD,Embarked
0,1,0,3,Mr,Braund,male,22,1,0,7.2500,0,0,0,0,0,0,0,S
1,2,1,1,Mrs,Cumings,female,38,1,0,71.2833,C85,0,0,0,1,0,0,C
2,3,1,3,Miss,Heikkinen,female,26,0,0,7.9250,0,0,0,0,0,0,0,S
3,4,1,1,Mrs,Futrelle,female,35,1,0,53.1000,C123,0,0,0,1,0,0,S
4,5,0,3,Mr,Allen,male,35,0,0,8.0500,0,0,0,0,0,0,0,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,Rev,Montvila,male,27,0,0,13.0000,0,0,0,0,0,0,0,S
887,888,1,1,Miss,Graham,female,19,0,0,30.0000,B42,0,0,1,0,0,0,S
888,889,0,3,Miss,Johnston,female,30,1,2,23.4500,0,0,0,0,0,0,0,S
889,890,1,1,Mr,Behr,male,26,0,0,30.0000,C148,0,0,0,1,0,0,C
890,891,0,3,Mr,Dooley,male,32,0,0,7.7500,0,0,0,0,0,0,0,Q

# Sequential Model

In [ ]:
categorical_columns_vocabulary_names = ["Pclass", "Title", "Sex", "Embarked", "SibSp", "Parch"]
categorical_columns_hash_names = ["Cabin", "LastName"]
numeric_columns_names = ["Age", "Fare"]
indicator_columns_names = ["CabinA","CabinB","CabinC","CabinD","CabinE","CabinF"]

column_names = categorical_columns_vocabulary_names+categorical_columns_hash_names +numeric_columns_names + indicator_columns_names

In [ ]:
feature_columns = []

# numeric cols
for header in numeric_columns_names:
  feature_columns.append(feature_column.numeric_column(header))

# bucketized cols
age = feature_column.numeric_column('Age')
age_buckets = feature_column.bucketized_column(age, boundaries=[0, 5, 10, 15, 20,25,30,35,40,45,50,55,60,65,70,75,80])
feature_columns.append(age_buckets)

# indicator_columns
for col_name in indicator_columns_names:
  categorical_column = feature_column.categorical_column_with_vocabulary_list(
      col_name, data[col_name].unique())
  indicator_column = feature_column.indicator_column(categorical_column)
  feature_columns.append(indicator_column)

# categorical with vocabulary
for col_name in categorical_columns_vocabulary_names:
    categorical_column = feature_column.categorical_column_with_vocabulary_list(
      col_name, data[col_name].unique())
    indicator_column = feature_column.indicator_column(categorical_column)
    feature_columns.append(indicator_column)
    
for col_name in categorical_columns_hash_names:
    categorical_column = feature_column.categorical_column_with_hash_bucket(
      col_name, 1000)
    indicator_column = feature_column.indicator_column(categorical_column)
    feature_columns.append(indicator_column)

In [ ]:
feature_columns

[NumericColumn(key='Age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='Fare', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 BucketizedColumn(source_column=NumericColumn(key='Age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), boundaries=(0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='CabinA', vocabulary_list=(0, 1), dtype=tf.int64, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='CabinB', vocabulary_list=(0, 1), dtype=tf.int64, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='CabinC', vocabulary_list=(0, 1), dtype=tf.int64, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='CabinD', vocabulary_list=(0, 1), dtype=tf.int64, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='CabinE', vocabulary_list=(0, 1), dtype=tf.int64, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='CabinF', vocabulary_list=(0, 1), dtype=tf.int64, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='Pclass', vocabulary_list=(3, 1, 2), dtype=tf.int64, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='Title', vocabulary_list=('Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Mme', 'Ms', 'Major', 'Lady', 'Sir', 'Mlle', 'Col', 'Capt', 'the Count', 'Jonkheer'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='Sex', vocabulary_list=('male', 'female'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='Embarked', vocabulary_list=('S', 'C', 'Q', '0'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='SibSp', vocabulary_list=(1, 0, 3, 4, 2, 5, 8), dtype=tf.int64, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='Parch', vocabulary_list=(0, 1, 2, 5, 3, 4, 6), dtype=tf.int64, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=HashedCategoricalColumn(key='Cabin', hash_bucket_size=1000, dtype=tf.string)),
 IndicatorColumn(categorical_column=HashedCategoricalColumn(key='LastName', hash_bucket_size=1000, dtype=tf.string))]

In [ ]:
feature_layer = tf.keras.layers.DenseFeatures(feature_columns)

In [ ]:
feature_layer(inputs)

NameError: name 'inputs' is not defined

In [ ]:
batch_size = 32
train_ds = df_to_dataset(train, batch_size=batch_size)
val_ds = df_to_dataset(val, shuffle=False, batch_size=batch_size)
test_ds = df_to_dataset(test, shuffle=False, batch_size=batch_size)

In [ ]:
model = tf.keras.Sequential([
  feature_layer,
  layers.Dense(128, activation='relu'),
  layers.Dense(128, activation='relu'),
  layers.Dropout(.3),
  layers.Dense(1, activation = tf.keras.activations.sigmoid)
])

model.compile(optimizer='adam',
              loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
              metrics=['accuracy'])

model.fit(train_ds,
          validation_data=val_ds,
          epochs=12)

Epoch 1/12
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'PassengerId': <tf.Tensor 'ExpandDims_12:0' shape=(None, 1) dtype=int64>, 'Pclass': <tf.Tensor 'ExpandDims_13:0' shape=(None, 1) dtype=int64>, 'Title': <tf.Tensor 'ExpandDims_16:0' shape=(None, 1) dtype=string>, 'LastName': <tf.Tensor 'ExpandDims_10:0' shape=(None, 1) dtype=string>, 'Sex': <tf.Tensor 'ExpandDims_14:0' shape=(None, 1) dtype=string>, 'Age': <tf.Tensor 'ExpandDims:0' shape=(None, 1) dtype=int64>, 'SibSp': <tf.Tensor 'ExpandDims_15:0' shape=(None, 1) dtype=int64>, 'Parch': <tf.Tensor 'ExpandDims_11:0' shape=(None, 1) dtype=int64>, 'Fare': <tf.Tensor 'ExpandDims_9:0' shape=(None, 1) dtype=float64>, 'Cabin': <tf.Tensor 'ExpandDims_1:0' shape=(None, 1) dtype=string>, 'CabinF': <tf.Tensor 'ExpandDims_7:0' shape=(None, 1) dtype=int64>, 'CabinA': <tf.Tensor 'ExpandDims_2:0' shape=(None, 1) dtype=int64>, 'CabinB': <tf.Tensor 'ExpandDims_3:0' shape=(None, 1) dtype=int64>, 'CabinC': <tf.Tensor 'ExpandDims_4:0' shape=(None, 1) dtype=int64>, 'CabinE': <tf.Tensor 'ExpandDims_6:0' shape=(None, 1) dtype=int64>, 'CabinD': <tf.Tensor 'ExpandDims_5:0' shape=(None, 1) dtype=int64>, 'Embarked': <tf.Tensor 'ExpandDims_8:0' shape=(None, 1) dtype=string>}
Consider rewriting this model with the Functional API.

/opt/conda/lib/python3.7/site-packages/tensorflow/python/keras/backend.py:5017: UserWarning: "`binary_crossentropy` received `from_logits=True`, but the `output` argument was produced by a sigmoid or softmax activation and thus does not represent logits. Was this intended?"
  '"`binary_crossentropy` received `from_logits=True`, but the `output`'

WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'PassengerId': <tf.Tensor 'ExpandDims_12:0' shape=(None, 1) dtype=int64>, 'Pclass': <tf.Tensor 'ExpandDims_13:0' shape=(None, 1) dtype=int64>, 'Title': <tf.Tensor 'ExpandDims_16:0' shape=(None, 1) dtype=string>, 'LastName': <tf.Tensor 'ExpandDims_10:0' shape=(None, 1) dtype=string>, 'Sex': <tf.Tensor 'ExpandDims_14:0' shape=(None, 1) dtype=string>, 'Age': <tf.Tensor 'ExpandDims:0' shape=(None, 1) dtype=int64>, 'SibSp': <tf.Tensor 'ExpandDims_15:0' shape=(None, 1) dtype=int64>, 'Parch': <tf.Tensor 'ExpandDims_11:0' shape=(None, 1) dtype=int64>, 'Fare': <tf.Tensor 'ExpandDims_9:0' shape=(None, 1) dtype=float64>, 'Cabin': <tf.Tensor 'ExpandDims_1:0' shape=(None, 1) dtype=string>, 'CabinF': <tf.Tensor 'ExpandDims_7:0' shape=(None, 1) dtype=int64>, 'CabinA': <tf.Tensor 'ExpandDims_2:0' shape=(None, 1) dtype=int64>, 'CabinB': <tf.Tensor 'ExpandDims_3:0' shape=(None, 1) dtype=int64>, 'CabinC': <tf.Tensor 'ExpandDims_4:0' shape=(None, 1) dtype=int64>, 'CabinE': <tf.Tensor 'ExpandDims_6:0' shape=(None, 1) dtype=int64>, 'CabinD': <tf.Tensor 'ExpandDims_5:0' shape=(None, 1) dtype=int64>, 'Embarked': <tf.Tensor 'ExpandDims_8:0' shape=(None, 1) dtype=string>}
Consider rewriting this model with the Functional API.
17/18 [===========================>..] - ETA: 0s - loss: 0.7080 - accuracy: 0.6360WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'PassengerId': <tf.Tensor 'ExpandDims_12:0' shape=(None, 1) dtype=int64>, 'Pclass': <tf.Tensor 'ExpandDims_13:0' shape=(None, 1) dtype=int64>, 'Title': <tf.Tensor 'ExpandDims_16:0' shape=(None, 1) dtype=string>, 'LastName': <tf.Tensor 'ExpandDims_10:0' shape=(None, 1) dtype=string>, 'Sex': <tf.Tensor 'ExpandDims_14:0' shape=(None, 1) dtype=string>, 'Age': <tf.Tensor 'ExpandDims:0' shape=(None, 1) dtype=int64>, 'SibSp': <tf.Tensor 'ExpandDims_15:0' shape=(None, 1) dtype=int64>, 'Parch': <tf.Tensor 'ExpandDims_11:0' shape=(None, 1) dtype=int64>, 'Fare': <tf.Tensor 'ExpandDims_9:0' shape=(None, 1) dtype=float64>, 'Cabin': <tf.Tensor 'ExpandDims_1:0' shape=(None, 1) dtype=string>, 'CabinF': <tf.Tensor 'ExpandDims_7:0' shape=(None, 1) dtype=int64>, 'CabinA': <tf.Tensor 'ExpandDims_2:0' shape=(None, 1) dtype=int64>, 'CabinB': <tf.Tensor 'ExpandDims_3:0' shape=(None, 1) dtype=int64>, 'CabinC': <tf.Tensor 'ExpandDims_4:0' shape=(None, 1) dtype=int64>, 'CabinE': <tf.Tensor 'ExpandDims_6:0' shape=(None, 1) dtype=int64>, 'CabinD': <tf.Tensor 'ExpandDims_5:0' shape=(None, 1) dtype=int64>, 'Embarked': <tf.Tensor 'ExpandDims_8:0' shape=(None, 1) dtype=string>}
Consider rewriting this model with the Functional API.
18/18 [==============================] - 6s 151ms/step - loss: 0.7058 - accuracy: 0.6344 - val_loss: 0.6055 - val_accuracy: 0.7413
Epoch 2/12
18/18 [==============================] - 1s 30ms/step - loss: 0.6187 - accuracy: 0.6819 - val_loss: 0.5904 - val_accuracy: 0.6434
Epoch 3/12
18/18 [==============================] - 1s 37ms/step - loss: 0.5979 - accuracy: 0.6784 - val_loss: 0.5409 - val_accuracy: 0.7483
Epoch 4/12
18/18 [==============================] - 1s 33ms/step - loss: 0.5208 - accuracy: 0.7592 - val_loss: 0.4981 - val_accuracy: 0.7622
Epoch 5/12
18/18 [==============================] - 1s 32ms/step - loss: 0.5060 - accuracy: 0.7768 - val_loss: 0.4632 - val_accuracy: 0.7972
Epoch 6/12
18/18 [==============================] - 1s 37ms/step - loss: 0.4847 - accuracy: 0.7838 - val_loss: 0.4998 - val_accuracy: 0.7622
Epoch 7/12
18/18 [==============================] - 1s 29ms/step - loss: 0.4530 - accuracy: 0.8067 - val_loss: 0.4555 - val_accuracy: 0.8182
Epoch 8/12
18/18 [==============================] - 0s 19ms/step - loss: 0.4422 - accuracy: 0.8190 - val_loss: 0.4415 - val_accuracy: 0.8252
Epoch 9/12
18/18 [==============================] - 0s 25ms/step - loss: 0.3928 - accuracy: 0.8524 - val_loss: 0.4285 - val_accuracy: 0.8322
Epoch 10/12
18/18 [==============================] - 1s 33ms/step - loss: 0.3661 - accuracy: 0.8559 - val_loss: 0.4109 - val_accuracy: 0.8392
Epoch 11/12
18/18 [==============================] - 0s 22ms/step - loss: 0.3488 - accuracy: 0.8647 - val_loss: 0.4199 - val_accuracy: 0.8252
Epoch 12/12
18/18 [==============================] - 1s 32ms/step - loss: 0.3453 - accuracy: 0.8664 - val_loss: 0.4727 - val_accuracy: 0.8112

# Functional Model

In [ ]:
categorical_columns_vocabulary_names = ["Pclass", "Title", "Sex", "Embarked", "SibSp", "Parch"]
categorical_columns_hash_names = ["Cabin", "LastName"]
numeric_columns_names = ["Age", "Fare"]
indicator_columns_names = ["CabinA","CabinB","CabinC","CabinD","CabinE","CabinF"]

column_names = categorical_columns_vocabulary_names+categorical_columns_hash_names +numeric_columns_names + indicator_columns_names

deep_columns = []
for header in numeric_columns_names:
  deep_columns.append(feature_column.numeric_column(header))

wide_columns = []
for col_name in categorical_columns_vocabulary_names:
    categorical_column = feature_column.categorical_column_with_vocabulary_list(
      col_name, data[col_name].unique())
    indicator_column = feature_column.indicator_column(categorical_column)
    wide_columns.append(indicator_column)
    
for col_name in categorical_columns_hash_names:
    categorical_column = feature_column.categorical_column_with_hash_bucket(
      col_name, 1000)
    indicator_column = feature_column.indicator_column(categorical_column)
    wide_columns.append(indicator_column)

# bucketized cols
age = feature_column.numeric_column('Age')
age_buckets = feature_column.bucketized_column(age, boundaries=[0, 5, 10, 15, 20,25,30,35,40,45,50,55,60,65,70,75,80])
wide_columns.append(age_buckets)

# indicator_columns
for col_name in indicator_columns_names:
  categorical_column = feature_column.categorical_column_with_vocabulary_list(
      col_name, data[col_name].unique())
  indicator_column = feature_column.indicator_column(categorical_column)
  wide_columns.append(indicator_column)    

inputs = {colname: Input(name = colname, shape = (), dtype=data[colname].dtype) for colname in column_names}
deep = tf.keras.layers.DenseFeatures(deep_columns)(inputs)
wide = tf.keras.layers.DenseFeatures(wide_columns)(inputs)

In [ ]:
deep = tf.keras.layers.Dense(128, activation = 'relu')(deep)
deep = layers.Dropout(.3)(deep)
deep = tf.keras.layers.Dense(12, activation = 'relu')(deep)
deep = layers.Dropout(.3)(deep)
mix = tf.keras.layers.concatenate([deep, wide])
mix = tf.keras.layers.Dense(12, activation = 'relu')(mix)
mix = layers.Dropout(.3)(mix)
output = tf.keras.layers.Dense(1, activation = tf.keras.activations.sigmoid)(mix)

In [ ]:
model_functional = tf.keras.Model(inputs = inputs, outputs = output, name = 'model_functional')

In [ ]:
model_functional.summary()

Model: "model_functional"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
Age (InputLayer)                [(None,)]            0
__________________________________________________________________________________________________
Cabin (InputLayer)              [(None,)]            0
__________________________________________________________________________________________________
CabinA (InputLayer)             [(None,)]            0
__________________________________________________________________________________________________
CabinB (InputLayer)             [(None,)]            0
__________________________________________________________________________________________________
CabinC (InputLayer)             [(None,)]            0
__________________________________________________________________________________________________
CabinD (InputLayer)             [(None,)]            0
__________________________________________________________________________________________________
CabinE (InputLayer)             [(None,)]            0
__________________________________________________________________________________________________
CabinF (InputLayer)             [(None,)]            0
__________________________________________________________________________________________________
Embarked (InputLayer)           [(None,)]            0
__________________________________________________________________________________________________
Fare (InputLayer)               [(None,)]            0
__________________________________________________________________________________________________
LastName (InputLayer)           [(None,)]            0
__________________________________________________________________________________________________
Parch (InputLayer)              [(None,)]            0
__________________________________________________________________________________________________
Pclass (InputLayer)             [(None,)]            0
__________________________________________________________________________________________________
Sex (InputLayer)                [(None,)]            0
__________________________________________________________________________________________________
SibSp (InputLayer)              [(None,)]            0
__________________________________________________________________________________________________
Title (InputLayer)              [(None,)]            0
__________________________________________________________________________________________________
dense_features_5 (DenseFeatures (None, 2)            0           Age[0][0]
                                                                 Cabin[0][0]
                                                                 CabinA[0][0]
                                                                 CabinB[0][0]
                                                                 CabinC[0][0]
                                                                 CabinD[0][0]
                                                                 CabinE[0][0]
                                                                 CabinF[0][0]
                                                                 Embarked[0][0]
                                                                 Fare[0][0]
                                                                 LastName[0][0]
                                                                 Parch[0][0]
                                                                 Pclass[0][0]
                                                                 Sex[0][0]
                                                                 SibSp[0][0]
                                                                 Title[0][0]
__________________________________________________________________________________________________
dense_3 (Dense)                 (None, 128)          384         dense_features_5[0][0]
__________________________________________________________________________________________________
dropout_1 (Dropout)             (None, 128)          0           dense_3[0][0]
__________________________________________________________________________________________________
dense_4 (Dense)                 (None, 12)           1548        dropout_1[0][0]
__________________________________________________________________________________________________
dropout_2 (Dropout)             (None, 12)           0           dense_4[0][0]
__________________________________________________________________________________________________
dense_features_6 (DenseFeatures (None, 2070)         0           Age[0][0]
                                                                 Cabin[0][0]
                                                                 CabinA[0][0]
                                                                 CabinB[0][0]
                                                                 CabinC[0][0]
                                                                 CabinD[0][0]
                                                                 CabinE[0][0]
                                                                 CabinF[0][0]
                                                                 Embarked[0][0]
                                                                 Fare[0][0]
                                                                 LastName[0][0]
                                                                 Parch[0][0]
                                                                 Pclass[0][0]
                                                                 Sex[0][0]
                                                                 SibSp[0][0]
                                                                 Title[0][0]
__________________________________________________________________________________________________
concatenate (Concatenate)       (None, 2082)         0           dropout_2[0][0]
                                                                 dense_features_6[0][0]
__________________________________________________________________________________________________
dense_5 (Dense)                 (None, 12)           24996       concatenate[0][0]
__________________________________________________________________________________________________
dropout_3 (Dropout)             (None, 12)           0           dense_5[0][0]
__________________________________________________________________________________________________
dense_6 (Dense)                 (None, 1)            13          dropout_3[0][0]
==================================================================================================
Total params: 26,941
Trainable params: 26,941
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
model_functional.compile(optimizer='adam',
              loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
              metrics=['accuracy'])

model_functional.fit(train_ds,
          validation_data=val_ds,
          epochs=30)

Epoch 1/30

/opt/conda/lib/python3.7/site-packages/tensorflow/python/keras/engine/functional.py:591: UserWarning: Input dict contained keys ['PassengerId'] which did not match any model input. They will be ignored by the model.
  [n for n in tensors.keys() if n not in ref_input_names])

18/18 [==============================] - 6s 104ms/step - loss: 0.7105 - accuracy: 0.5466 - val_loss: 0.6497 - val_accuracy: 0.6643
Epoch 2/30
18/18 [==============================] - 1s 30ms/step - loss: 0.6463 - accuracy: 0.6749 - val_loss: 0.6191 - val_accuracy: 0.7133
Epoch 3/30
18/18 [==============================] - 1s 37ms/step - loss: 0.6298 - accuracy: 0.6714 - val_loss: 0.5831 - val_accuracy: 0.6993
Epoch 4/30
18/18 [==============================] - 1s 49ms/step - loss: 0.6087 - accuracy: 0.6837 - val_loss: 0.5689 - val_accuracy: 0.7413
Epoch 5/30
18/18 [==============================] - 1s 42ms/step - loss: 0.5769 - accuracy: 0.6924 - val_loss: 0.5446 - val_accuracy: 0.7622
Epoch 6/30
18/18 [==============================] - 1s 65ms/step - loss: 0.5607 - accuracy: 0.7118 - val_loss: 0.5245 - val_accuracy: 0.7692
Epoch 7/30
18/18 [==============================] - 1s 45ms/step - loss: 0.5508 - accuracy: 0.7381 - val_loss: 0.5142 - val_accuracy: 0.7832
Epoch 8/30
18/18 [==============================] - 1s 31ms/step - loss: 0.5171 - accuracy: 0.7944 - val_loss: 0.4914 - val_accuracy: 0.7832
Epoch 9/30
18/18 [==============================] - 1s 36ms/step - loss: 0.5011 - accuracy: 0.7698 - val_loss: 0.4696 - val_accuracy: 0.7902
Epoch 10/30
18/18 [==============================] - 1s 46ms/step - loss: 0.4784 - accuracy: 0.8049 - val_loss: 0.4551 - val_accuracy: 0.8392
Epoch 11/30
18/18 [==============================] - 0s 27ms/step - loss: 0.4614 - accuracy: 0.8207 - val_loss: 0.4397 - val_accuracy: 0.8392
Epoch 12/30
18/18 [==============================] - 1s 34ms/step - loss: 0.4530 - accuracy: 0.8067 - val_loss: 0.4323 - val_accuracy: 0.8252
Epoch 13/30
18/18 [==============================] - 1s 41ms/step - loss: 0.4426 - accuracy: 0.8348 - val_loss: 0.4294 - val_accuracy: 0.8322
Epoch 14/30
18/18 [==============================] - 1s 66ms/step - loss: 0.4180 - accuracy: 0.8576 - val_loss: 0.4248 - val_accuracy: 0.8531
Epoch 15/30
18/18 [==============================] - 1s 37ms/step - loss: 0.3916 - accuracy: 0.8629 - val_loss: 0.4197 - val_accuracy: 0.8462
Epoch 16/30
18/18 [==============================] - 1s 52ms/step - loss: 0.3880 - accuracy: 0.8629 - val_loss: 0.4178 - val_accuracy: 0.8392
Epoch 17/30
18/18 [==============================] - 1s 36ms/step - loss: 0.3944 - accuracy: 0.8576 - val_loss: 0.4159 - val_accuracy: 0.8531
Epoch 18/30
18/18 [==============================] - 1s 43ms/step - loss: 0.3768 - accuracy: 0.8629 - val_loss: 0.4133 - val_accuracy: 0.8531
Epoch 19/30
18/18 [==============================] - 0s 27ms/step - loss: 0.3642 - accuracy: 0.8699 - val_loss: 0.4142 - val_accuracy: 0.8601
Epoch 20/30
18/18 [==============================] - 1s 43ms/step - loss: 0.3587 - accuracy: 0.8805 - val_loss: 0.4138 - val_accuracy: 0.8531
Epoch 21/30
18/18 [==============================] - 1s 37ms/step - loss: 0.3587 - accuracy: 0.8805 - val_loss: 0.4168 - val_accuracy: 0.8531
Epoch 22/30
18/18 [==============================] - 0s 26ms/step - loss: 0.3404 - accuracy: 0.8858 - val_loss: 0.4143 - val_accuracy: 0.8601
Epoch 23/30
18/18 [==============================] - 1s 32ms/step - loss: 0.3417 - accuracy: 0.8717 - val_loss: 0.4135 - val_accuracy: 0.8601
Epoch 24/30
18/18 [==============================] - 1s 44ms/step - loss: 0.3394 - accuracy: 0.8910 - val_loss: 0.4149 - val_accuracy: 0.8601
Epoch 25/30
18/18 [==============================] - 1s 54ms/step - loss: 0.3363 - accuracy: 0.8998 - val_loss: 0.4187 - val_accuracy: 0.8531
Epoch 26/30
18/18 [==============================] - 1s 34ms/step - loss: 0.3212 - accuracy: 0.8875 - val_loss: 0.4140 - val_accuracy: 0.8531
Epoch 27/30
18/18 [==============================] - 1s 44ms/step - loss: 0.3110 - accuracy: 0.9139 - val_loss: 0.4191 - val_accuracy: 0.8531
Epoch 28/30
18/18 [==============================] - 1s 47ms/step - loss: 0.3012 - accuracy: 0.9069 - val_loss: 0.4161 - val_accuracy: 0.8462
Epoch 29/30
18/18 [==============================] - 1s 60ms/step - loss: 0.3097 - accuracy: 0.8875 - val_loss: 0.4190 - val_accuracy: 0.8601
Epoch 30/30
18/18 [==============================] - 1s 40ms/step - loss: 0.2955 - accuracy: 0.9051 - val_loss: 0.4169 - val_accuracy: 0.8392

# Second Functional Model

In [ ]:
deep = tf.keras.layers.DenseFeatures(deep_columns)(inputs)
wide = tf.keras.layers.DenseFeatures(wide_columns)(inputs)

deep = tf.keras.layers.Dense(128, activation = 'relu',  kernel_regularizer=tf.keras.regularizers.L1(0.01))(deep)
deep = layers.Dropout(.3)(deep)
deep = tf.keras.layers.Dense(20, activation = 'relu')(deep)
deep = layers.Dropout(.3)(deep)
mix = tf.keras.layers.concatenate([deep, wide])
mix = tf.keras.layers.Dense(12, activation = 'relu')(mix)
mix = layers.Dropout(.3)(mix)
output = tf.keras.layers.Dense(1, activation = tf.keras.activations.sigmoid)(mix)

model_functional = tf.keras.Model(inputs = inputs, outputs = output, name = 'model_functional')

model_functional.compile(optimizer='adam',
              loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
              metrics=['accuracy'])

model_functional.fit(train_ds,
          validation_data=val_ds,
          epochs=40)

# Third Functional Model

In [ ]:
deep = tf.keras.layers.DenseFeatures(deep_columns)(inputs)
wide = tf.keras.layers.DenseFeatures(wide_columns)(inputs)

deep = tf.keras.layers.Dense(128, activation = 'relu',  kernel_regularizer=tf.keras.regularizers.L1(0.01))(deep)
deep = layers.Dropout(.3)(deep)
deep = tf.keras.layers.Dense(20, activation = 'relu')(deep)
deep = layers.Dropout(.3)(deep)
mix = tf.keras.layers.concatenate([deep, wide])
mix = tf.keras.layers.Dense(20, activation = 'relu')(mix)
mix = layers.Dropout(.3)(mix)
output = tf.keras.layers.Dense(1, activation = tf.keras.activations.sigmoid)(mix)

model_functional = tf.keras.Model(inputs = inputs, outputs = output, name = 'model_functional')

model_functional.compile(optimizer='adam',
              loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
              metrics=['accuracy'])

model_functional.fit(train_ds,
          validation_data=val_ds,
          epochs=40)

In [ ]:
model_functional.evaluate(val_ds)[1]

# Bayesian Optimisation

In [ ]:
from skopt.space import Integer
from skopt.space import Real
from skopt.utils import use_named_args
from skopt import gp_minimize

In [ ]:
def create_model(l1, l2, l3, dropout, regulariser_coeff, epochs):
    deep = tf.keras.layers.DenseFeatures(deep_columns)(inputs)
    wide = tf.keras.layers.DenseFeatures(wide_columns)(inputs)

    deep = tf.keras.layers.Dense(l1, activation = 'relu',  kernel_regularizer=tf.keras.regularizers.L1(regulariser_coeff))(deep)
    deep = layers.Dropout(dropout)(deep)
    deep = tf.keras.layers.Dense(l2, activation = 'relu')(deep)
    deep = layers.Dropout(dropout)(deep)
    mix = tf.keras.layers.concatenate([deep, wide])
    mix = tf.keras.layers.Dense(l3, activation = 'relu')(mix)
    mix = layers.Dropout(dropout)(mix)
    output = tf.keras.layers.Dense(1, activation = tf.keras.activations.sigmoid)(mix)

    model_functional = tf.keras.Model(inputs = inputs, outputs = output, name = 'model_functional')

    model_functional.compile(optimizer='adam',
                  loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                  metrics=['accuracy'])

    model_functional.fit(train_ds,
              validation_data=val_ds,
              epochs=epochs)
    return model_functional

In [ ]:
def evaluate_model(model):
    evaluation = model.evaluate(val_ds)[1]
    return 1 - evaluation

In [ ]:
search_space = [Integer(20, 200, name='l1'),Integer(20, 200, name='l2'), Integer(20, 200, name='l3'), 
                Real(0, 0.5, name = "dropout"), Integer(10,30, name = "epochs"), Real(0,0.5, name = "regulariser_coeff")]

In [ ]:
@use_named_args(search_space)
def evaluate_params(l1, l2, l3, dropout, regulariser_coeff, epochs):
    print("l1: ", l1, "l2:", l2, "l3:", l3, "dropout:", dropout, "regulariser_coeff", regulariser_coeff, "epochs:", epochs )
    model = create_model(l1, l2, l3, dropout, regulariser_coeff, epochs)
    return evaluate_model(model)

In [ ]:
result = gp_minimize(evaluate_params, search_space)

l1:  135 l2: 101 l3: 53 dropout: 0.16483492199639968 regulariser_coeff 0.4393393858088332 epochs: 26
Epoch 1/26
18/18 [==============================] - 4s 88ms/step - loss: 12.3127 - accuracy: 0.6503 - val_loss: 11.1428 - val_accuracy: 0.7133
Epoch 2/26
18/18 [==============================] - 1s 42ms/step - loss: 10.2989 - accuracy: 0.6731 - val_loss: 9.2726 - val_accuracy: 0.7483
Epoch 3/26
18/18 [==============================] - 1s 30ms/step - loss: 8.5057 - accuracy: 0.6960 - val_loss: 7.5995 - val_accuracy: 0.7622
Epoch 4/26
18/18 [==============================] - 1s 39ms/step - loss: 6.8860 - accuracy: 0.7329 - val_loss: 6.0626 - val_accuracy: 0.7762
Epoch 5/26
18/18 [==============================] - 1s 30ms/step - loss: 5.4418 - accuracy: 0.7663 - val_loss: 4.7400 - val_accuracy: 0.7972
Epoch 6/26
18/18 [==============================] - 1s 44ms/step - loss: 4.1814 - accuracy: 0.8014 - val_loss: 3.5591 - val_accuracy: 0.8112
Epoch 7/26
18/18 [==============================] - 1s 47ms/step - loss: 3.0942 - accuracy: 0.8120 - val_loss: 2.6012 - val_accuracy: 0.8252
Epoch 8/26
18/18 [==============================] - 1s 45ms/step - loss: 2.2080 - accuracy: 0.8453 - val_loss: 1.8316 - val_accuracy: 0.8322
Epoch 9/26
18/18 [==============================] - 1s 34ms/step - loss: 1.5099 - accuracy: 0.8348 - val_loss: 1.2147 - val_accuracy: 0.8462
Epoch 10/26
18/18 [==============================] - 1s 36ms/step - loss: 0.9373 - accuracy: 0.8506 - val_loss: 0.7443 - val_accuracy: 0.8392
Epoch 11/26
18/18 [==============================] - 1s 52ms/step - loss: 0.5653 - accuracy: 0.8629 - val_loss: 0.5016 - val_accuracy: 0.8531
Epoch 12/26
18/18 [==============================] - 1s 53ms/step - loss: 0.4082 - accuracy: 0.8770 - val_loss: 0.4494 - val_accuracy: 0.8531
Epoch 13/26
18/18 [==============================] - 1s 43ms/step - loss: 0.3574 - accuracy: 0.8946 - val_loss: 0.4370 - val_accuracy: 0.8601
Epoch 14/26
18/18 [==============================] - 1s 38ms/step - loss: 0.3425 - accuracy: 0.8910 - val_loss: 0.4353 - val_accuracy: 0.8531
Epoch 15/26
18/18 [==============================] - 1s 34ms/step - loss: 0.3251 - accuracy: 0.8910 - val_loss: 0.4347 - val_accuracy: 0.8531
Epoch 16/26
18/18 [==============================] - 1s 46ms/step - loss: 0.3114 - accuracy: 0.9016 - val_loss: 0.4372 - val_accuracy: 0.8462
Epoch 17/26
18/18 [==============================] - 1s 43ms/step - loss: 0.2982 - accuracy: 0.8998 - val_loss: 0.4430 - val_accuracy: 0.8601
Epoch 18/26
18/18 [==============================] - 0s 25ms/step - loss: 0.2902 - accuracy: 0.9051 - val_loss: 0.4474 - val_accuracy: 0.8462
Epoch 19/26
18/18 [==============================] - 1s 30ms/step - loss: 0.2703 - accuracy: 0.9209 - val_loss: 0.4485 - val_accuracy: 0.8601
Epoch 20/26
18/18 [==============================] - 1s 38ms/step - loss: 0.2638 - accuracy: 0.9156 - val_loss: 0.4527 - val_accuracy: 0.8671
Epoch 21/26
18/18 [==============================] - 1s 34ms/step - loss: 0.2470 - accuracy: 0.9086 - val_loss: 0.4551 - val_accuracy: 0.8531
Epoch 22/26
18/18 [==============================] - 0s 20ms/step - loss: 0.2359 - accuracy: 0.9227 - val_loss: 0.4611 - val_accuracy: 0.8462
Epoch 23/26
18/18 [==============================] - 0s 19ms/step - loss: 0.2310 - accuracy: 0.9192 - val_loss: 0.4714 - val_accuracy: 0.8322
Epoch 24/26
18/18 [==============================] - 1s 43ms/step - loss: 0.2149 - accuracy: 0.9332 - val_loss: 0.4711 - val_accuracy: 0.8252
Epoch 25/26
18/18 [==============================] - 1s 51ms/step - loss: 0.2121 - accuracy: 0.9315 - val_loss: 0.4856 - val_accuracy: 0.8182
Epoch 26/26
18/18 [==============================] - 1s 57ms/step - loss: 0.1995 - accuracy: 0.9315 - val_loss: 0.4771 - val_accuracy: 0.8252
5/5 [==============================] - 0s 42ms/step - loss: 0.4771 - accuracy: 0.8252
l1:  125 l2: 104 l3: 75 dropout: 0.2013083199282279 regulariser_coeff 0.27371598463107627 epochs: 28
Epoch 1/28
18/18 [==============================] - 6s 126ms/step - loss: 7.4031 - accuracy: 0.6397 - val_loss: 6.6951 - val_accuracy: 0.7203
Epoch 2/28
18/18 [==============================] - 1s 43ms/step - loss: 6.2058 - accuracy: 0.6749 - val_loss: 5.5860 - val_accuracy: 0.7483
Epoch 3/28
18/18 [==============================] - 1s 30ms/step - loss: 5.1506 - accuracy: 0.7065 - val_loss: 4.6067 - val_accuracy: 0.7483
Epoch 4/28
18/18 [==============================] - 1s 39ms/step - loss: 4.2333 - accuracy: 0.7206 - val_loss: 3.7579 - val_accuracy: 0.7622
Epoch 5/28
18/18 [==============================] - 1s 38ms/step - loss: 3.4127 - accuracy: 0.7627 - val_loss: 3.0076 - val_accuracy: 0.8112
Epoch 6/28
18/18 [==============================] - 1s 52ms/step - loss: 2.6901 - accuracy: 0.8207 - val_loss: 2.3337 - val_accuracy: 0.8112
Epoch 7/28
18/18 [==============================] - 1s 41ms/step - loss: 2.0790 - accuracy: 0.8032 - val_loss: 1.7778 - val_accuracy: 0.8322
Epoch 8/28
18/18 [==============================] - 0s 26ms/step - loss: 1.5489 - accuracy: 0.8278 - val_loss: 1.3295 - val_accuracy: 0.8392
Epoch 9/28
18/18 [==============================] - 0s 24ms/step - loss: 1.1299 - accuracy: 0.8383 - val_loss: 0.9682 - val_accuracy: 0.8392
Epoch 10/28
18/18 [==============================] - 1s 30ms/step - loss: 0.7985 - accuracy: 0.8436 - val_loss: 0.7044 - val_accuracy: 0.8392
Epoch 11/28
18/18 [==============================] - 1s 41ms/step - loss: 0.5618 - accuracy: 0.8629 - val_loss: 0.5292 - val_accuracy: 0.8392
Epoch 12/28
18/18 [==============================] - 1s 28ms/step - loss: 0.4170 - accuracy: 0.8735 - val_loss: 0.4513 - val_accuracy: 0.8601
Epoch 13/28
18/18 [==============================] - 1s 33ms/step - loss: 0.3499 - accuracy: 0.8858 - val_loss: 0.4318 - val_accuracy: 0.8601
Epoch 14/28
18/18 [==============================] - 1s 35ms/step - loss: 0.3267 - accuracy: 0.8981 - val_loss: 0.4356 - val_accuracy: 0.8601
Epoch 15/28
18/18 [==============================] - 1s 32ms/step - loss: 0.3068 - accuracy: 0.8981 - val_loss: 0.4385 - val_accuracy: 0.8671
Epoch 16/28
18/18 [==============================] - 1s 41ms/step - loss: 0.2944 - accuracy: 0.9069 - val_loss: 0.4423 - val_accuracy: 0.8671
Epoch 17/28
18/18 [==============================] - 1s 43ms/step - loss: 0.2754 - accuracy: 0.9086 - val_loss: 0.4408 - val_accuracy: 0.8601
Epoch 18/28
18/18 [==============================] - 1s 29ms/step - loss: 0.2674 - accuracy: 0.9156 - val_loss: 0.4464 - val_accuracy: 0.8601
Epoch 19/28
18/18 [==============================] - 1s 38ms/step - loss: 0.2502 - accuracy: 0.9139 - val_loss: 0.4442 - val_accuracy: 0.8601
Epoch 20/28
 1/18 [>.............................] - ETA: 0s - loss: 0.2573 - accuracy: 0.9062